.container {
    display: grid;
    grid-template-columns: 400px 1fr 300px;
    height: calc(100vh - 150px);
}

.sidebar {
    background-color: var(--box);
    border: 1px solid var(--border);
    padding: 32px 16px;
    overflow-y: auto;
    margin: 16px 5rem;
    border-radius: 16px;
}

.subtitle {
    font-size: 14px;
    font-family: var(--font-dm-mono);
    color: var(--text-muted);
    margin: 0 0 5px 12px;
    display: block;
}

.componentList li {
    list-style: none;
    padding: 10px 12px;
    display: block;
    border-radius: 8px;
}

.componentList li:hover {
    background-color: hsl(0, 0%, 15%);
    cursor: pointer;
}